<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Dionaeas</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/all.min.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="favicon.png" height="48" width="48" alt="">
            <a class="navbar-brand ml-1 font-weight-bold" href="#slideshow">Venus Flytrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#slideshow">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#goods">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prices">Цены</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts">Контакты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Введите запрос..."
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>

    <section id="slideshow">
        <div class="container">
            <div class="lp-content">
                <div class="owl-carousel p-2 lp-slider1">
                    <img src="images/cephalotus-follicularis-album.jpg" alt="">
                    <img src="images/darlingtonia-californica-album.jpg" alt="">
                    <img src="images/dm-b52-1.jpg" alt="">
                    <img src="images/drosera-album.jpg" alt="">
                    <img src="images/nepenthes-album.jpg" alt="">
                </div>
            </div>
        </div>
    </section>



    <section class="mt-2" id="goods">
        <div class="container">
            <div class="lp-content">
                <h2>Категории</h2>
                <div class="lp-tabs">
                    <div data-tab-title="Cephalotus">
                        <p class="text-center">
                            <strong>Цефалотус</strong>
                        </p>
                        <p> Цефалотус - многолетнее, вечнозеленое, хищное, насекомоядное растение. В отличие от
                            большинства собратьев – хищников цефалотус имеет 2 разных типа листьев. Одни служат для
                            фотосинтеза, а другие ловят насекомых. У молодых растений сперва развиваются
                            фотосинтезирующие листья, а затем появляются и хищные. «Хищные» листья представляют собой
                            кувшинчики, прикрытые крышками. Крышечки предохраняют кувшины от наполнения дождевой водой.
                            На дне кувшинов находится пищеварительный сок растения.</p>
                        <p class="text-center">
                            <a href="#lp-goods1" class="lp-mfp-inline btn btn-primary">Подробнее...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Цефалотус">Заказать</span>
                        </p>
                    </div>
                    <div data-tab-title="Darlingtonia">
                        <p class="text-center">
                            <strong>Дарлингтония</strong>
                        </p>
                        <p>Хищное растение дарлингтония, листья которой напоминают приготовившуюся к нападению кобру с
                            распущенным капюшоном, считается редким родом семейства саррацениевых и тщательно охраняется
                            согласно Вашингтонской Конвенции. Область распространения дарлингтонии в дикой природе очень
                            ограничена – это относительно небольшой район между американскими штатами Орегон и
                            Калифорния.
                        </p>
                        <p class="text-center">
                            <a href="#lp-goods2" class="lp-mfp-inline btn btn-primary">Подробнее...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Дарлингтония">Заказать</span>
                        </p>
                    </div>
                    <div data-tab-title="Dionaea muscipula">
                        <p class="text-center"><strong>Венерина мухоловка</strong></p>
                        <p>Венерина мухоловка (Dionaea muscipula) – небольшое хищное растение с выдающейся репутацией.
                            Сам
                            Чарльз Дарвин описал его как одно из самых прекрасных растений мира. Венерина мухоловка в
                            состоянии захватывать живых насекомых, используя свои модифицированные листья в качестве
                            ловушек. Эта способность позволяет ей расти в почвах с дефицитом азота. Она является одним
                            из
                            немногих растений, которые способны на столь молниеносные движения.</p>
                        <p class="text-center">
                            <a href="#lp-goods3" class="lp-mfp-inline btn btn-primary">Подробнее...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Венерина мухоловка">Заказать</span>
                        </p>
                    </div>
                    <div data-tab-title="Drosera">
                        <p class="text-center"><strong>Росянка</strong></p>
                        <p>Росянка (Drosera) относится к роду плотоядных растений семейства Росянковые (Droseraceae). Ее
                            распространение по планете удивляет. Оно встречается во всех частях Света, кроме Антарктиды.
                            Больше всего Росянок в Австралии и Новой Зеландии. Своей живучестью оно обязано особому
                            строению
                            и способу добывания пищи. Главное дело жизни насекомоядной хищницы – охота. Насчитывают
                            около
                            200 видов этого растения. Латинское название «Drosera» растению дал К. Линней, что в
                            переводе на
                            русский означает «Роса».</p>
                        <p class="text-center">
                            <a href="#lp-goods4" class="lp-mfp-inline btn btn-primary">Подробнее...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Росянка">Заказать</span>
                        </p>
                    </div>
                    <div data-tab-title="Nepēnthes">
                        <p class="text-center"><strong>Непентес</strong></p>
                        <p>Непентес – необычный представитель флоры с хищным характером. Кроме привычного питания, он
                            нуждается в насекомых, которых переваривает в своих кувшинчиках. Род относится к
                            одноименному
                            семейству Непентовые. Встречается в тропической Азии и Тихоокеанском бассейне (от
                            Калимантана до
                            Австралии и Мадагаскара). Удивительный экзот непременно будет приковывать внимание и станет
                            всеобщим любимцем.</p>
                        <p class="text-center">
                            <a href="#lp-goods5" class="lp-mfp-inline btn btn-primary">Подробнее...</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Непентес">Заказать</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-2" id="portfolio">
        <div class="container">
            <div class="lp-content p-3">
                <h2>Товары</h2>
                <div class="owl-carousel rounded lp-slider2 lp-gallery">
                    <a href="images/cephalotus-follicularis-album.jpg">
                        <img src="images/cephalotus-follicularis-album.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/darlingtonia-californica-album.jpg">
                        <img src="images/darlingtonia-californica-album.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/dm-b52-1.jpg">
                        <img src="images/dm-b52-1.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/drosera-album.jpg">
                        <img src="images/drosera-album.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/nepenthes-album.jpg">
                        <img src="images/nepenthes-album.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/Kak-lovit-zhertvu-rastenie-hishhnik-rosyanka.jpg">
                        <img src="images/Kak-lovit-zhertvu-rastenie-hishhnik-rosyanka.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/images_cms-image-000024159.jpg">
                        <img src="images/images_cms-image-000024159.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/maxresdefault.jpg">
                        <img src="images/maxresdefault.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/nepenmin.jpg">
                        <img src="images/nepenmin.jpg" class="rounded" alt="">
                    </a>
                    <a href="images/rosjanka-kruglolistnaja-1024x730.jpg">
                        <img src="images/rosjanka-kruglolistnaja-1024x730.jpg" class="rounded" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-2" id="prices" ng-app="lpApp" ng-controller="lpPriceCtrl">
        <div class="container">
            <div class="lp-content p-2">
                <h2>Цены</h2>
                <p class="lp-prices-loader" ng-hide="prices || reqStatus || reqStatusText">
                    <i class="fas fa-spinner"></i>
                </p>
                <table ng-show="prices" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-hide="sortBy == 'name'"></i>
                                <i class="fas fa-sort-up" ng-hide="sortBy != 'name' || !sortRev"></i>
                                <i class="fas fa-sort-down" ng-hide="sortBy != 'name' || sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-hide="sortBy == 'price'"></i>
                                <i class="fas fa-sort-up" ng-hide="sortBy != 'price' || !sortRev"></i>
                                <i class="fas fa-sort-down" ng-hide="sortBy != 'price'|| sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-hide="sortBy == 'discount'"></i>
                                <i class="fas fa-sort-up" ng-hide="sortBy != 'discount' || !sortRev"></i>
                                <i class="fas fa-sort-down" ng-hide="sortBy != 'discount' || sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-hide="sortBy == 'price2'"></i>
                                <i class="fas fa-sort-up" ng-hide="sortBy != 'price2' || !sortRev"></i>
                                <i class="fas fa-sort-down" ng-hide="sortBy != 'price2' || sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="reqStatus || reqStatusText" class="alert alert-danger">При загрузке данных произошла ошибка
                    {{reqStatus}} {{reqStatusText}}</p>
            </div>
        </div>
    </section>

    <section class="mt-2" id="contacts">
        <div class="container">
            <div class="lp-content p-3">
                <h2>Контакты</h2>
                <div class="row">

                    <div class="col-sm-6">
                        <div id="lp-map"></div>
                    </div>

                    <div class="col-sm-6">

                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <p>Заказать обратный звонок:</p>
                            <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" name="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" name="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Отправить</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <footer class="mt-2">
        <div class="d-flex text-secondary container-fluid flex-lg-row flex-column justify-content-center">
            <div class="container-fluid my-2 mx-lg-1 d-flex align-items-center border-dotted">
                <p>
                    Venusflytrap.com - первый интернет - магазин хищных растений в Минске! В нашем магазине вы можете
                    приобрести более 200
                    редких сортов хищных растений со всего мира, а также абсолютно всё, что требуется для выращивания:
                    специализированные
                    субстраты, компоненты субстрата, горшки, дистиллированная вода, препараты и многое другое!
                </p>
            </div>
            <div
                class="container-fluid my-2 mx-lg-1 d-flex align-items-center justify-content-center flex-column border-dotted">
                <p>
                    Следите за нами в социальных сетях
                </p>
                <div class="container d-flex align-items-center justify-content-around">
                    <a href="https://vk.com/"> <img src="images/vk.svg" )" height="48" width="48" alt="Vkontakte" />
                    </a>
                    <a href="https://instagram.com/"> <img src="images/instagram.svg" height="48" width="48"
                            alt="Instargram" />
                    </a>
                    <a href="https://youtube.com/"> <img src="images/youtube.svg" )" height="48" width="48"
                            alt="Youtube" />
                    </a>
                </div>
            </div>
            <div class="container-fluid my-2 mx-lg-1 flex-column border-dotted">
                <p>Свяжитесь с нами:</p>
                <div class="container-fluid">
                    <p>
                        <img src="images/map.svg" height="20" width="20" alt="Location" />
                        Украина, город Одесса, Люстдорфская дорога
                    </p>
                    <p>
                        <img src="images/mobile-phone.svg" height="20" width="20" alt="Mobile" />
                        +375259507009
                    </p>
                    <p>
                        <img src="images/gmail.svg" height="20" width="20" alt="Email" />
                        venusflytrapshop@gmail.com
                    </p>
                    <p>
                        <img src="images/clock.svg" height="20" width="20" alt="Work time" />
                        9:00 - 20:00
                    </p>
                    <p>
                        <img src="images/registration.svg" height="20" width="20" alt="Registration" />
                        В торговом реестре с 12 июня 2019г. УНП 000000000. Регистрация № 000000000, 12.06.2019,
                        Одессагорисполком
                    </p>
                </div>
            </div>
        </div>
        <div class="copyright p-3">
            <p>© Venus Flytrap 2019</p>
        </div>
    </footer>

    <div id="lp-goods1" class="mfp-hide lp-popup">
        <h2>Описание</h2>
        <p>Цефалотус - многолетнее, вечнозеленое, хищное, насекомоядное растение. В отличие от большинства собратьев –
            хищников цефалотус имеет 2 разных типа листьев. Одни служат для фотосинтеза, а другие ловят насекомых. У
            молодых растений сперва развиваются фотосинтезирующие листья, а затем появляются и хищные. «Хищные» листья
            представляют собой кувшинчики, прикрытые крышками. Крышечки предохраняют кувшины от наполнения дождевой
            водой. На дне кувшинов находится пищеварительный сок растения.</p>
    </div>

    <div id="lp-goods2" class="mfp-hide lp-popup">
        <h2>Описание</h2>
        <p>Хищное растение дарлингтония, листья которой напоминают приготовившуюся к нападению кобру с
            распущенным капюшоном, считается редким родом семейства саррацениевых и тщательно охраняется
            согласно Вашингтонской Конвенции. Область распространения дарлингтонии в дикой природе очень
            ограничена – это относительно небольшой район между американскими штатами Орегон и Калифорния.</p>
    </div>

    <div id="lp-goods3" class="mfp-hide lp-popup">
        <h2>Описание</h2>
        <p>Венерина мухоловка (Dionaea muscipula) – небольшое хищное растение с выдающейся репутацией. Сам
            Чарльз Дарвин описал его как одно из самых прекрасных растений мира. Венерина мухоловка в
            состоянии захватывать живых насекомых, используя свои модифицированные листья в качестве
            ловушек. Эта способность позволяет ей расти в почвах с дефицитом азота. Она является одним из
            немногих растений, которые способны на столь молниеносные движения</p>
    </div>

    <div id="lp-goods4" class="mfp-hide lp-popup">
        <h2>Описание</h2>
        <p>Росянка (Drosera) относится к роду плотоядных растений семейства Росянковые (Droseraceae). Ее
            распространение по планете удивляет. Оно встречается во всех частях Света, кроме Антарктиды.
            Больше всего Росянок в Австралии и Новой Зеландии. Своей живучестью оно обязано особому строению
            и способу добывания пищи. Главное дело жизни насекомоядной хищницы – охота. Насчитывают около
            200 видов этого растения. Латинское название «Drosera» растению дал К. Линней, что в переводе на
            русский означает «Роса».</p>
    </div>
    <div id="lp-goods5" class="mfp-hide lp-popup">
        <h2>Описание </h2>
        <p>Непентес – необычный представитель флоры с хищным характером. Кроме привычного питания, он нуждается в
            насекомых, которых переваривает в своих кувшинчиках. Род относится к одноименному семейству Непентовые.
            Встречается в тропической Азии и Тихоокеанском бассейне (от Калимантана до Австралии и Мадагаскара).
            Удивительный экзот непременно будет приковывать внимание и станет всеобщим любимцем.</p>

    </div>
    <div id="lp-fb1" class="mfp-hide">
        <h2>Заказать консультацию</h2>
        <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
        <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
        <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
        <button>Перезвоните мне</button>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript" async>
    </script>
</body>

</html>